<header class="header">
    <a href="/" class="header__logo">Admin Dashboard</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/about">About</a>
            </li>

            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>


    <div class="header__button">


     

          <a href="/logout" class="logout-link">Logout
            <i class="fa-solid fa-right-from-bracket"></i>
           </a>


       
        
    </div>
</header>