<header class="header">
    <a href="/" class="header__logo">Maxwell Admin</a>

    <nav class="header__nav">
        <ul>
            <li>
                <a href="/">Home</a>
            </li>

            <li>
                <a href="/about">About</a>
            </li>

            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
    </nav>


    <div class="header__button">
        <button >
           Logout
           <i class="fa-solid fa-right-from-bracket"></i>

        </button>
    </div>
</header>